<div class="col-auto menu_top">
    <a class="menu_top__item" href=""><img src="" alt="Teléfono"></a>
    <a class="menu_top__item" href="">Contacto</a>
    <a class="menu_top__item" href=""><img src="" alt="Instagram"></a>
    <a class="menu_top__item" href=""><img src="" alt="LinkedIn"></a>
    <a class="menu_top__item" href="">ES</a>
    <a class="menu_top__item" href="">EN</a>
</div>