.menu_top {
    padding: 1.25rem 0;

    .menu_top__item {
        color: $black;
        font-weight: 600;
        text-decoration: none;
        padding: 0 0.625rem;
        vertical-align: middle;
    
        &:not(:last-child) {
            border-right: 2px solid $black;
        }

        &:hover {
            color: $orange;
        }
    
    }

}