.value-item {
    display: inline-flex;
    align-items: center;

    &:not(:last-child) {
        border-right: 1px solid $white;
    }

    & img {
        max-width: 3.75rem;
        height: auto;
        padding-left: 1.25rem;
    }

    & p {
        color: $white;
        padding: 2.5rem 1.25rem;
        margin: 0;
    }

}