<div class="text-secondary_center">
    <h2>SOLUCIONES DIGITALES PARA TU HOTEL</h2>
    <p>Donec non egestas justo. Fusce non erat lorem. Aenean sapien ligula, luctus fringilla nunc eu, rutrum venenatis ligula. Vivamus mauris urna, luctus eget lectus non, tincidunt mollis lorem. Phasellus vitae dapibus quam, eget tincidunt urna. Suspendisse potenti. Suspendisse potenti. In pretium felis et purus.</p>
</div>