.text-secondary_center {
    text-align: center;
    max-width: 1000px;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 1.875rem;
        line-height: 4.06rem;
    }

    p {
        font-size: 1.3rem;
        line-height: 2.3rem;
        max-width: 1200px;
    }

}