div.footer-menu__brand {
    @include flexbox;
    flex-direction: column;
    align-items: flex-end;

    & p {
        color: rgba($color: $white, $alpha: 0.45);
        font-size: 1.5rem;
        font-weight: 400;
    }

    .footer-menu__brand__logo {
        max-width: 124px;
        margin-bottom: 30px;
    }

    .footer-menu__brand__social {
        list-style: none;
        @include flexbox;

        img {
            max-height: 20px;
            width: auto;
            margin: 20px 10px;
        }

    }

}