<div class="col footer-menu__brand">
    <img class="footer-menu__brand__logo" src="../../../img/adg-white.png" alt="ADG Travel">
    <p>Síguenos</p>
    <ul class="footer-menu__brand__social">
        <li><img src="../../../img/ic-fb.png" alt="Facebook"></li>
        <li><img src="../../../img/ic-tw.png" alt="Twitter"></li>
        <li><img src="../../../img/ic-insta.png" alt="Instagram"></li>
        <li><img src="../../../img/ic-linkedin.png" alt="LinkedIn"></li>
    </ul>
</div>