.menu-main__nav {
    .menu-main__item {
        a.menu-main__link {
            color: $black;
            font-weight: 600;
            padding-right: 3.75rem;

            &:hover {
                color: $orange;
            }

        }

    }

}