<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img src="" width="30" height="30" alt="ADG Travel">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav menu-main__nav">
            <li class="nav-item menu-main__item">
                <a class="nav-link menu-main__link" href="#">Productos y Servicios</a>
            </li>
            <li class="nav-item menu-main__item">
                <a class="nav-link menu-main__link" href="#">Casos de éxito</a>
            </li>
            <li class="nav-item menu-main__item">
                <a class="nav-link menu-main__link" href="#">PPC Calculator</a>
            </li>
        </ul>
    </div>
</nav>