<div class="col footer-menu__bottom">
    <nav>
        <ul class="footer-menu__bottom__nav">
            <li>Política de Privacidad</li>
            <li>Política de Cookies</li>
            <li>Aviso Legal</li>
            <li>adgcomunication.com</li>
        </ul>
    </nav>
</div>