.footer-menu__bottom {

    ul {
        list-style: none;
        @include flexbox;

        li {
            color: $white;
            padding: 10px;
            border-left: 1px solid $white;
            border-right: 1px solid $white;

            &:last-child {
                color: $orange;
            }
        }

    }

}