.text-primary {
    max-width: 1000px;

    h1 {
        font-size: 3.75rem;
        margin-bottom: 2.5rem;
        line-height: 4.06rem;
    }

    p {
        font-size: 1.5rem;
        line-height: 2.7rem;
        max-width: 700px;
    }

}