<div class="text-primary">
    <h1>Ayudamos a los hoteles a aumentar el canal directo</h1>
    <p>Donec non egestas justo. Fusce non erat lorem. Aenean sapien ligula, luctus fringilla nunc eu, rutrum venenatis ligula. Vivamus mauris urna, luctus eget lectus non.</p>
</div>
