<div class="col footer-menu__nav">
    <h4>Important links</h4>
    <nav>
        <ul>
            <li class="footer-menu__nav-item">About Us</li>
            <li class="footer-menu__nav-item">Contact Us</li>
            <li class="footer-menu__nav-item">Career</li>
            <li class="footer-menu__nav-item">FAQs</li>
            <li class="footer-menu__nav-item">Pricing Plans</li>
        </ul>
    </nav>
</div>