.menu_service-item {
    background: $light-grey;
    text-align: center;
    padding: 1.8rem;

    & a {
        color: $light-blue;
        font-size: 1.8rem;
    }

    .service-item-img {
        height: 90px;
        margin: 1rem;
    }

}

