<div class="col-3 menu_service-item">
    <img class="service-item-img" src="https://picsum.photos/100/90" alt="Servicio">
    <h3>Soluciones Web</h3>
    <p>Donec non egestas justo. Fusce non erat lorem. Aen sapien ligula, luctus fringilla.</p>
    <a href="#">+</a>
</div>