<div class="col footer-menu__text">
    <h4>Sobre nosotros</h4>
    <p>Donec non egestas justo. Fusce non erat lorem. Aenean sapien ligula, luctus.</p>
    <p>Vivamus mauris urna, luctus eget lectus non. Maecenas ete esscelerisque commodo turpis, the quis eleifend.</p>
</div>