//**** VARIABLES & FONTS ****//

// Colors
$dark-grey: #2E2E2E;
$light-grey: #f3f4f6;
$light-blue: #4BA6DB;
$orange: #FF7632;
$black: #000000;
$white: #FFFFFF;


// Fonts
@font-face {
    font-family: 'arista_2.0_fatregular';
    src: url(../fonts/arista2.0-fattrial-webfont.woff2) format('woff2'),
         url(../fonts/arista2.0-fattrial-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arista_2.0_lightregular';
    src: url(../fonts/arista2.0-lighttrial-webfont.woff2) format('woff2'),
         url(../fonts/arista2.0-lighttrial-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arista_2.0regular';
    src: url(../fonts/arista2.0-regulartrial-webfont.woff2) format('woff2'),
         url(../fonts/arista2.0-regulartrial-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arista_2.0_alternate_fullRg';
    src: url(../fonts/arista2.0alternate-fulltrial-webfont.woff2) format('woff2'),
         url(../fonts/arista2.0alternate-fulltrial-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arista_2.0_alternate_lightRg';
    src: url(../fonts/arista2.0alternate-lighttrial-webfont.woff2) format('woff2'),
         url(../fonts/arista2.0alternate-lighttrial-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arista_2.0_alternateregular';
    src: url(../fonts/arista2.0alternatetrial-webfont.woff2) format('woff2'),
         url(../fonts/arista2.0alternatetrial-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}


//**** BASE STYLES ****//

// Normalize
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 14px;
  }

// Base 
  h1, h2 ,h3 {
      font-weight: 600;
      text-transform: uppercase;
  }
  h1 {
      font-size: 3.75rem;
  }
  h2 {
      font-size: 2.5rem;
  }
  h3 {
      color: $light-blue;
      font-size: 2.2rem;
  }
  h4 {
    color: $white;
    font-size: 1.5rem;
}
  p {
      color: $black;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 1rem;
  }
  a {
    color: $light-blue;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1rem;
  }

// Mixins
@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

// Buttons 

 .button {
    background: $orange;
    border-radius: 3.6rem;
    color: $white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 2.8rem;
    list-style: none;
    text-decoration: none;

    &:hover {
        border: 1px solid $orange;
        border-radius: 3.6rem;
        background-color: #white;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        text-decoration: none;
        transform: translateY(-7px);
    }

    &:active {
        background:darken($orange,25%);
      } 
  }
